#vplayer { position: absolute; top: 0%; left: 0%; width: 80%; height:auto;   }

#clip_list { position: absolute; top: 0%; right: 0%; width: 20%; height:100%; background: blue; }

#clip_controls { position: absolute; bottom: 0%; left: 0%; width: 80%; height:auto; background: green; }
